// Size
$PC: 48em;

// Font Weight
$font-thin: 300;
$font-normal: 400;
$font-bold: 500;

// Color
$white: #fff;
$gray: #696969;
$gray-light: #efefef;
$gray-light-200: #d5d5d5;

// Component color
$border-color: $gray-light-200;
